@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Workshop Attendee Application</h1>
    <p class="lead">The Attendee application is using ASP.NET MVC and MySQL as its underlying database. We'll work together
                    to build this application and run it locally and then deploy to Pivotal Cloud Foundry. </p>
    <p><a href="/Attendee" class="btn btn-primary btn-lg">Let&apos;s Get Started! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <!-- 
        <h2>Welcome to the Workshop Attendee Application</h2>
        <p>
            The Attendee application is using ASP.NET MVC and MySQL as its underlying database. We'll work together
            to build this applicaiton and run it locally then deploy to Pivotal Cloud Foundry. 
        </p>
        <p>@Html.ActionLink("Attendees", "Index", "Attendee")
        -->
    </div>
</div>